<div class="p-grid ">
  <div class="p-col">
    <p-table [value]="tasks" dataKey="id" editMode="row">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 60px;">
            Task Id
          </th>
          <th style="width: 100px;">
            Task name
          </th>
          <th style="width: 100px;">
            Deadline
          </th>
          <th style="width: 150px;">
            Description
          </th>
          <th style="width: 150px;">
            Task status
          </th>
          <th style="width: 150px;">
            Project name
          </th>
          <th style="width: 150px;">
            Assigned to
          </th>
          <th style="width: 90px;">
            Edit task
          </th>
          <th *ngIf="rolePermissionAdmin" style="width: 60px;">
            Delete task
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="rowData">
          <td>
            {{ rowData.id }}
          </td>
          <td *ngIf="rolePermissionAdmin">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="rowData.shortname"
                  style="width: 80px;"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.shortname }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngIf="!rolePermissionAdmin">
            {{ rowData.shortname }}
          </td>

          <td *ngIf="rolePermissionAdmin">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.deadline" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.deadline }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngIf="!rolePermissionAdmin">
            {{ rowData.deadline }}
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="rowData.description"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.description }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  [options]="tasksStatus"
                  [(ngModel)]="rowData.taskStatus"
                  [style]="{ width: '40%' }"
                ></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.taskStatus }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngIf="rolePermissionAdmin">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  [options]="projects"
                  [(ngModel)]="rowData.projectName"
                  [style]="{ width: '40%' }"
                ></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.projectName }}
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.projectName }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngIf="!rolePermissionAdmin">
            {{ rowData.usersName }}
          </td>
          <td *ngIf="rolePermissionAdmin">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  [options]="users"
                  [(ngModel)]="rowData.usersName"
                  [style]="{ width: '15px' }"
                ></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.usersName }}
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.usersName }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngIf="!rolePermissionAdmin">
            {{ rowData.usersName }}
          </td>
          <td style="text-align:center">
            <button
              *ngIf="!editing"
              pButton
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              class="ui-button-info"
              (click)="onRowEditInit(rowData)"
            ></button>
            <button
              *ngIf="editing"
              pButton
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              class="ui-button-success"
              style="margin-right: .5em"
              (click)="onRowEditSave(rowData)"
            ></button>
            <button
              *ngIf="editing"
              pButton
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              class="ui-button-danger"
              (click)="onRowEditCancel(rowData, ri)"
            ></button>
          </td>
          <td *ngIf="rolePermissionAdmin" style="text-align:center">
            <button
              pButton
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              class="ui-button-danger"
              (click)="deleteTask(rowData)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
